<!DOCTYPE html>

<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
         <title> hostel management system</title>
         <link href="G:\projects\project demo\StyleSheet1.css" rel="stylesheet" type="text/css">
    </head>

    <body>
    
    <div class="header">
        <h1>Hostel Management System</h1>
         <p>That Moniters Hostel Details.</p>
    </div>
    <div class="bg-img">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <div class="topnav">
        <a href="https://www.w3schools.com/css/tryit.asp?filename=trycss_website_layout_navbar"><i class="fa fa-fw fa-home"></i>Home</a>    
        <a href="#"><i class="fa fa-fw fa-user"></i>Login</a>
        
        
        <a href="#"><i class="fa fa-image"></i>Gallery</a> 
        <a href="#"><i class="fa fa-fw fa-envelope"></i>Contact Us</a>
      </div>
     
    </div>
    <div class="row">
      <div class="leftcolumn">
        <div class="card">
          <h2>Features</h2>
          <li>Wifi Environment</li>

          <li>24x7 Water Supply</li>
          <li>Bus Facility</li>
          <li>24x7 Security</li>


        </div>

      </div>
      <div class="center">
         <div class="card">
           <h2>About US</h2>
           
           <p>Hotel management system is web based software developed for managaning various activites in hostel.our project keeps all details of hostellers students which is govern by admin <span id="dots">...</span><span id="more">The Admin can view and edit the details of the students whereas warden can view and edit hostel details and student's Attendance,Also Student can register their complaints.</span></p>
           <button onclick="myFunction()" id="myBtn">Read more</button>
         </div>
      </div>
      <div>
        <div class="rightcolumn">
          <div class="card">
            <h2>Latest NEWS</h2>
            <li>xyzzzz</li>
            <li>abcd</li>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
       <h2>copyright@Mahima</h2>
    </div>

   
    



    </body>
</html>